<div class="homepage">
    <!-- FRAME A SINISTRA DEL GIOCATORE  -->
    <div class="giocatore-sx">
        <div style="display:flex;flex-direction: row; padding: 1rem; margin-top: 0.5rem">
            <img alt="" class="imgAvatar" src="assets/avatar/{{player.avatar}}"/>
            <div style="width: 90%; padding: 0.5rem">
                <div class="nickname"> {{player.username}} </div> <!-- sick.mazin -->
                <div class="frame-punti-elo">
                    <img style="cursor: pointer;" src="assets/modality/{{typeElo}}.svg" (click)="changeModalityEloPoints()" alt="modality game">
                    <div class="punti-elo"> Punti elo: {{ getPuntiEloByModality() }}</div>
                </div>
            </div>
        </div>
        <div class="textListaPartite"> Lista partite</div>
        <div class="lista-partite" >
            <div *ngIf="loadingGames" class="spinnerGame">
                <p class="textLoading">Stai attendo una risposta dal backend, se la risposta non arriva significa che non hai ancora fatto una partita!</p>
                <mat-spinner></mat-spinner>
            </div>
            @for (game of games; track $index){
                <app-game-display [game]="game" [playerUsername]="this.player.username"></app-game-display>
            }
        </div>
    </div>
    <!-- FRAME CENTRALE  -->
    <main class="CENTRALE">
        <div class="divGiocaPartite">
            <div class="boxGioca" (click)="postGame('bullet')">
                <img src="assets/scacchiera.jpg" alt=""/>
                <div class="text-Image-giocaBox">
                    <img src="assets/modality/bullet.svg" class="iconGioca" alt="">
                    <div class="textGioca"> Gioca a 1 minuto </div>
                </div>
            </div>
            <div  class="boxGioca" (click)="postGame('blitz')" >
                <img src="assets/scacchiera.jpg" alt=""/>
                <div class="text-Image-giocaBox">
                    <img src="assets/modality/blitz.svg" class="iconGioca" alt="">
                    <div class="textGioca"> Gioca a 5 minuti </div>
                </div>
            </div>
            <div class="boxGioca" (click)="postGame('rapid')">
                <img src="assets/scacchiera.jpg" alt=""/>
                <div class="text-Image-giocaBox">
                    <img src="assets/modality/rapid.svg" class="iconGioca" alt="">
                    <div class="textGioca"> Gioca a 10 minuti </div>
                </div>
            </div>
        </div>

        <div class="divlibri">
            <div class="divText-Icon">
                <div class="text-Libri-Video">Studia dai libri</div>
                <img class="iconQueen" src="assets/queen.svg" alt=""/>
            </div>
            <div class="scroll-orizzontale-video">
                <div *ngIf="loadingBooks" class="spinnerGame">
                    <p class="textLoading">Stai attendo una risposta dal backend !</p>
                    <mat-spinner></mat-spinner>
                </div>
                @for(libro of books; track $index;){
                    <div class="libro">
                        <img class="imgBook" (click)="openLink(libro.link)"  ngSrc="{{libro.srcImg}}" alt="" height="466" width="311"/>
                        <div class="like-unlike">
                            <app-animated-like (dataEvent)="handleDataFromChild($event)" [libro]="libro" [isThereLike]="isThereLike(libro)" ></app-animated-like>
                            <p style="margin:0;text-align: center">{{libro.like}}</p>
                        </div>
                    </div>
                }
            </div>
        </div>
        <div class="video-frame">
            <div class="divText-Icon">
                <div class="text-Libri-Video"> Studia dai video dei migliori </div>
                <img class="iconQueen" src="assets/rook.svg" alt=""/>
            </div>
            <div class="scroll-orizzontale-video">
                @for (video of videos; track video){
                    <img class="frameVideo" src="{{video.linkImg}}" (click)="openLink(video.linkVideo)" alt="">
                }
            </div>
        </div>

    </main>

    <!-- FRAME A DESTRA  -->
    <aside class="divDestra">
        <div class="divDifferentButton">
            @if (isLightTheme) {
                <img class="iconDiffButton" ngSrc="assets/lightTheme.svg" (click)="changeTheme()" alt="" height="30" width="30">
            } @else {
                <img class="iconDiffButton" ngSrc="assets/darkTheme.svg" (click)="changeTheme()" alt="" height="24" width="24">
            }
            <img class="iconDiffButton" src="assets/friends.svg" (click)="openFriendsPage()" alt="">
            <img class="iconDiffButton" src="assets/logout.svg" (click)="logout()" alt="">
            <!--<img class="iconDiffButton" src="assets/chat.svg" (click)="openChatPage()" alt=""> -->
            <img class="iconDiffButton" src="assets/options.svg" (click)="openOptionsPage()" alt="">

        </div>
        <!-- FRAME CLASSIFICA  -->
        <div class="classifica">
            <div class="classifica-giocatori"> Classifica giocatori </div>
            <div class="button-classifica">
                <button class="buttonModalità" (click)="showClassificaByModality('BULLET')" style="background-image: url('../../../assets/modality/BULLETDARK.svg')"></button>
                <button class="buttonModalità" (click)="showClassificaByModality('BLITZ')" style="background-image: url('../../../assets/modality/BLITZDARK.svg')"></button>
                <button class="buttonModalità" (click)="showClassificaByModality('RAPID')" style="background-image: url('../../../assets/modality/RAPIDDARK.svg')"></button>
            </div>
            <div class="leaderboard-text"> {{ leardBoardModality }} </div>


            <div class="scroll-orizzontale-giocatori">
                <div *ngIf="loadingLeaderboard" class="spinnerLeaderboard">
                    <p class="textLoading">Stai attendo una risposta dal backend!</p>
                    <mat-spinner></mat-spinner>
                </div>
                @for (player of leaderboard; track trackById(index, player); let index = $index){
                    <app-leaderboard-element [player]="player" [position]="index" [modality]="leardBoardModality"  ></app-leaderboard-element>
                }
            </div>
        </div>
    </aside>
</div>