<body class="bodyUser">
    <div class="base-info">
        <img class="avatar" ngSrc="../assets/avatar/{{player.avatar}}" alt="" height="70" width="70"/>
        <div class="info-player">
            <div class="nickname"> {{player.username}} </div>
            <div class="first-name-last-name"> {{player.firstName}} {{player.lastName}} </div>
        </div>
    </div>
    <div class="resto-info">
        <app-statistic-modality style="width: 100%" [modality]="'bullet'"></app-statistic-modality>
        <app-statistic-modality style="width: 100%"  [modality]="'blitz'"></app-statistic-modality>
        <app-statistic-modality  style="width:100%" [modality]="'rapid'"></app-statistic-modality>
    </div>
</body>