<div class="column column-a">
</div>

<div class="column column-b">
  <div id="second">
    <img ngSrc="assets/avatar/{{opponent.avatar}}" width="50" height="50"  alt="Immagine avversario" class="image">
    <label> {{ opponent.username }} </label>
    <label> ({{ getRating(opponent) }}) </label>
    <div class="player__digits">
      <span id="minOpp">{{ opponentTime/60 | number}}</span>:<span id="secOpp">{{ opponentTime%60 | number }}</span>
    </div>
  </div>

  <app-chessgame id="board" [game] = game [player] = playerMe [liveGameDTO]="liveGame" >

  </app-chessgame>

  <div id="first">
    <img ngSrc="assets/avatar/{{playerMe.avatar}}" width="50" height="50" alt="Immagine mia" class="image">
    <label> {{ playerMe.username }} </label>
    <label> ({{ getRating(playerMe) }}) </label>
    <div class="player__digits">
      <span id="minMe">{{ playerMeTime/60000 | number }}</span>:<span id="secMe">{{ playerMeTime%60000 | number }}</span>
    </div>
  </div>
</div>


<div class="column column-c" [hidden]="!game.isGameOver()">
  <button *ngIf="!isDrawAsked() else elseBlock" (click)="draw();" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Chiedi patta
  </button>
  <ng-template #elseBlock>
    <button (click)="draw();" mat-button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
      Accetta patta
    </button>
    <button (click)="deny();" mat-button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
      Annulla patta
    </button>
  </ng-template>
  <ul>
    <button (click)="startBullet();" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
      Gioca bullet
    </button>
    <button (click)="startBlitz();" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
      Gioca blitz
    </button>
    <button (click)="startRapid();" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
      Gioca rapid
    </button>
  </ul>
  <!-- Modal
  <div  class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Ricerca in corso...</h1>
        </div>
        <div class="modal-body" style="align-self: center">
          <div class="spinner-border text-primary" role="status">
            <span class="visually-hidden">Loading...</span>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" style="align-self: center">Annulla</button>
        </div>
      </div>
    </div>
  </div> -->
</div>
