<div class="column column-a">
</div>


<div class="column column-b" >
  <div style="display: flex; justify-content: center">
    <div id="second" class="player_section">
      <img ngSrc="assets/avatar/{{opponent.avatar}}" width="50" height="50"  alt="Immagine avversario" class="image">
      <label> {{ opponent.username }} ({{ getRating(opponent) }}) </label>
      <div class="player__digits">
        {{ Math.floor(opponentTime / 60) | number : '2.0-0' }} :
        {{ opponentTime % 60 | number : '2.0-0' }}
      </div>
    </div>
  </div>


  <app-chessgame id="board" (liveGameChange)="setGame($event)" [game] = game [player] = playerMe [liveGameDTO]="liveGame" class="board" >
  </app-chessgame>

  <div style="display: flex; justify-content: center ">
    <div id="first" class="player_section">
      <img ngSrc="assets/avatar/{{playerMe.avatar}}" width="50" height="50" alt="Immagine mia" class="image">
      <label> {{ playerMe.username }} ({{ getRating(playerMe) }}) </label>
      <div class="player__digits">
        {{ Math.floor(playerMeTime / 60) | number : '2.0-0' }} :
        {{ playerMeTime % 60 | number : '2.0-0' }}
      </div>
    </div>
  </div>
</div>


<div class="column column-c" >
  <div class="rounded-right">
    <div class="c-div">
      <button *ngIf="!isDrawAsked() else elseBlock" (click)="draw();" type="button">
        Chiedi patta
      </button>
      <button (click)="resign()" type="button">
        Abbandona
      </button>
    </div>

    <ng-template #elseBlock class="c-div">
      <button (click)="draw();" type="button">
        Accetta patta
      </button>
      <button (click)="deny();" type="button">
        Annulla patta
      </button>
    </ng-template>
  </div>
</div>


<!-- <div [hidden]="!isGameOver()" class="c-div">
    <ul>
        <button (click)="startBullet();" type="button">
            Gioca bullet
        </button>
        <button (click)="startBlitz();" type="button">
            Gioca blitz
        </button>
        <button (click)="startRapid();" type="button">
            Gioca rapid
        </button>
    </ul>
</div>  -->