$primary-font: "Inter-Bold", Helvetica;
$secondary-font: "Inter-SemiBold", Helvetica;
$tertiary-font: "Inter-Medium", Helvetica, serif;
$primary-color: #262a29;
$secondary-color: #dfdbd1;
$background-color: #e1ddd3;
$text-color: #131212;
$highlight-color: #6b6b6b;
$border-radius-large: 40px;
$border-radius-small: 10px;
$padding: 1rem;
$margin: 1rem;
$gap-large: 7rem;
$gap-small: 0.5rem;

.component {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  justify-items: center;
  width: 100%;
  height: auto;
  margin: 3rem;
  padding: $padding;
}

.text-CreateAccount {
  width: 70%;
  font-family: $primary-font;
  font-weight: 700;
  color: $text-color;
  font-size: 3rem;
  text-align: center;
  align-self: center;
  letter-spacing: 0;
  line-height: normal;
}

.create-account-button {
  background-color: $primary-color;
  border-radius: $border-radius-small;
  width: 60%;
  height: 15%;
  align-items: center;
  color: $secondary-color;
  font-family: $primary-font;
  font-size: 2rem;
  font-weight: 700;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: auto;
  align-self: center;
  margin-top: 2rem;
  justify-content: space-between;
  padding: $padding;
}

.input {
  width: 50%;
  height: 10%;
}

.SCHERMATA-CREA {
  background-color: $background-color;
  display: flex;
  flex-direction: row;
  width: 100vh;
  height: 100vh;

  .CENTRALE {
    position: absolute;
    width: 83%;
    height: 100vh;
    left: 16%;
    align-items: center;
    justify-self: center;
    background-color: #ffffff;
    border-radius: $border-radius-large 0 0 $border-radius-large;
    overflow: hidden;
  }
}

.SCHACCHI-IMG {
  position: absolute;
  width: 25rem;
  height: 25rem;
  left: 5%;
  top: 27%;
  object-fit: cover;
}


.chess-web {
  position: relative;
  left: 16%;
  top: 7%;
  height: 20%;
  font-family: $primary-font, ui-serif;
  font-weight: 700;
  color: #000000;
  font-size: 3.6rem;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.frame-19 {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-shrink: 0;
  width: 60%;
  padding: $padding;
  justify-content: space-between;
  height: 5%;
}

.text-under-button {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: $highlight-color;
  text-align: left;
  font-family: $tertiary-font, sans-serif;
  font-size: 0.9rem;
  font-weight: 500;
  position: relative;
}

.frame-20 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
