<body>
<div class="FRIENDS">
  <div class="centrale">
    <header class="header">
      <img class="fi-sr-people-carry" src="assets/friends/amici.svg" />
      <div class="text-wrapper">AMICI</div>
    </header>
    <div class="frameamici-e">
      <div class="LISTA-AMICI">
        <div class="AMICO">
          <div class="RIMUOVERE"><img class="man" src="img/image.png" /></div>
          <div class="info-AMICO">
            <div class="div">NICKNAME</div>
            <p class="first-name-last-name">First name &amp; Last name</p>
          </div>
          <div class="frame">
            <img class="img" src="assets/friends/stats.svg" />
            <img class="img" src="assets/friends/removeUser.svg" />
            <img class="img" src="assets/friends/sfidaAmico.svg" />
          </div>
        </div> <!-- AMICO NGFOR  -->
      </div>
      <div class="richieste-AMICI">
        <div class="header-richieste">
          <img class="img" src="assets/friends/richieste.svg" />
          <p class="richieste-di">Richieste di amicizia <br />in sospeso</p>
        </div>
        <div class="lista-richieste">
          <div class="richiesta"> <!-- RICHIESTA AMICIZIA NGFOR  -->
            <div class="frame-2">
              <div class="man-wrapper"><img class="man-2" src="img/man3-1-2.png" /></div>
              <div class="info-AMICO-2">
                <div class="text-wrapper-2">NICKNAME</div>
                <p class="p">First name &amp; Last name</p>
              </div>
            </div>
            <div class="frame-3">
              <img class="fi-rr-checkbox" src="assets/friends/accettaRichiesta.svg" />
              <div class="component"><img class="fi-rr-checkbox-2" src="assets/friends/rifiutaRichiesta.svg" /></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
