<!DOCTYPE html>
<html>
<body>
<div class="FRIENDS">
  <div class="centrale">
    <header class="header">
      <img class="fi-sr-people-carry" src="img/fi-sr-people-carry-box.svg" />
      <div class="text-wrapper">AMICI</div>
    </header>
    <div class="frameamici-e">
      <div class="LISTA-AMICI">
        <div class="AMICO">
          <div class="RIMUOVERE"><img class="man" src="img/image.png" /></div>
          <div class="info-AMICO">
            <div class="div">NICKNAME</div>
            <p class="first-name-last-name">First name &amp; Last name</p>
          </div>
          <div class="frame">
            <img class="img" src="img/fi-rr-stats.svg" />
            <img class="img" src="img/fi-rr-remove-user.svg" />
            <img class="img" src="img/fi-rr-bullseye-arrow.svg" />
          </div>
        </div>
        <div class="AMICO">
          <div class="RIMUOVERE"><img class="man" src="img/man3-1.png" /></div>
          <div class="info-AMICO">
            <div class="div">NICKNAME</div>
            <p class="first-name-last-name">First name &amp; Last name</p>
          </div>
          <div class="frame">
            <img class="img" src="img/image.svg" />
            <img class="img" src="img/fi-rr-remove-user-2.svg" />
            <img class="img" src="img/fi-rr-bullseye-arrow-2.svg" />
          </div>
        </div>
      </div>
      <div class="richieste-AMICI">
        <div class="header-richieste">
          <img class="img" src="img/fi-rr-user-add.svg" />
          <p class="richieste-di">Richieste di amicizia <br />in sospeso</p>
        </div>
        <div class="lista-richieste">
          <div class="richiesta">
            <div class="frame-2">
              <div class="man-wrapper"><img class="man-2" src="img/man3-1-2.png" /></div>
              <div class="info-AMICO-2">
                <div class="text-wrapper-2">NICKNAME</div>
                <p class="p">First name &amp; Last name</p>
              </div>
            </div>
            <div class="frame-3">
              <img class="fi-rr-checkbox" src="img/fi-rr-checkbox.svg" />
              <div class="component"><img class="fi-rr-checkbox-2" src="img/fi-rr-checkbox-2.svg" /></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
 </body>
</html>
