
<body style="">
<div class="container">
    <div class="chessboard">
        <mat-card class="error-message">
            <mat-card-header>
                <mat-card-title>
                    <h1>404</h1>
                </mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <p>Ops! La pagina che stai cercando è stata catturata dalla regina avversaria.</p>
            </mat-card-content>
            <mat-card-actions>
                <button mat-raised-button color="primary" routerLink="/homepage">Torna alla home</button>
            </mat-card-actions>
        </mat-card>
    </div>
</div>
</body>
