.textOptions {
  position: relative;
  width: 213px;
  height: 59px;
  margin-top: -1px;
  margin-right: -6px;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #e1ddd3;
  font-size: 34px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}