<div class="statistic">
    <div class="text-e-icon">
        <img class="img" src="../../assets/modality/{{stat.modality}}.svg"  alt=""/>
        <div class="textStat">Statistica delle partite {{stat.modality}}</div>
    </div>
    <div class="centrale">
        <div class="risultato">
            <img class="img" src="../assets/check/checkLOSE.svg"  alt=""/>
            <div class="number">{{stat.lose}}</div>
        </div>
        <div class="risultato">
            <img class="img" src="../assets/check/checkWIN.svg"  alt=""/>
            <div class="number">{{stat.win}}</div>
        </div>
        <div class="risultato">
            <img class="img" src="../assets/check/checkDRAW.svg"  alt=""/>
            <div class="number">{{stat.draw}}</div>
        </div>
    </div>
</div>