<h2 mat-dialog-title style=" padding: 0.3rem; color: #e1ddd3">Modifica {{data.type}}</h2>
<mat-dialog-content style="width: 100%">
    <p>{{data.text}}</p>
    <mat-form-field appearance="fill">
        <mat-label>{{data.type}}</mat-label>
        <input style="width: 100%;" #inputElement matInput placeholder="Inserisci {{data.type}}">
    </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions style="align-items: center">
    <button mat-raised-button color="primary" (click)="checkSave(inputElement.value,data.type)">Salva</button>
    <button  mat-button (click)="onNoClick()">No Thanks</button>
</mat-dialog-actions>