<body>
<div class="OPTIONS">
    <div class="navigation-side">
        <div class="frame-text">
            <img class="fi-rr-settings" src="assets/options.svg"  alt=""/>
            <div class="text-wrapper">Impostazioni</div>
        </div>
        <mat-sidenav-container class="navbar" >
            <mat-sidenav opened mode="over"  [disableClose]="true" style="height: auto; width: 100%;">
                <app-custom-side-nav></app-custom-side-nav>
            </mat-sidenav>
        </mat-sidenav-container >
        <div class="frame-text">
            <img class="fi-rr-settings" ngSrc="assets/optionsImg/back.svg" (click)="turnBackHome()" alt="back"
                 height="24" width="24"/>
            <div class="text-wrapper" style="color: red">Torna indietro</div>
        </div>
    </div>
    <div class="frame">
        <router-outlet (activate)="onOutletLoaded($event)"></router-outlet>
    </div>

</div>
</body>
