<body style="background: #262a29">
<mat-dialog-content style="width: 100%;">
    <app-statistic-modality style="width: 100%; margin: 0.8rem;" [player_username]="data.username"  [modality]="'BULLET'"></app-statistic-modality>
    <app-statistic-modality style="width: 100%; margin: 0.8rem;" [player_username]="data.username"   [modality]="'BLITZ'"></app-statistic-modality>
    <app-statistic-modality  style="width:100%; margin: 0.8rem;" [player_username]="data.username"  [modality]="'RAPID'"></app-statistic-modality>
</mat-dialog-content>
</body>